.nav-bar {
    display: flex;
}
.nav-right {
    display: flex;
    margin: 5% 10% 0 0;
    justify-content: space-between;
}
h4{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #205063;
    margin: 5% 40% 0 10%;
    font-size: 2rem;
}
.btn {
    margin-right: 12%;
}
.btn:hover {
    color: #3a738a;
}
h5 {
    font-family: 'Lato', sans-serif;
    
}
/* media query for small screens */
@media only screen and (max-width: 600px) {
    .nav-right {
        display: block;
    }
    .nav-right .btn h5 {
        text-align: right;
    }
    h4 {
        text-align: left;
    }
    h5 {
        text-align: right;
      }
}