.App {
  text-align: center;
}

.App-header {
  
}
.thumbnail-container {
  display: flex;
  margin-top: 5%;
}
/* modal styles */
.Modal {
  position: fixed;
  top: -4%;
  right: 15%;
  border-radius: 0;
}
.modal-content {
  width: 75vw;
}

/* media query for small screens */
@media only screen and (max-width: 600px) {

  .Modal {
    position: fixed;
    top: -4%;
    /* right: 15%; */
    border-radius: 0;
  }
}
